tr
  td(style='padding:0 30px 0.5em;')
    table(style='border-collapse: collapse;')
      tr
        td(style='width:350px;vertical-align:middle;padding:1em;text-align:center;background-color:#fcfcfc;text-transform:uppercase;font-size:0.7em;font-weight:600;border-top-right-radius:6px;border-top-left-radius:6px')
          img(src='https://s3.amazonaws.com/wed.email/%D1%81hristmas/bottom/2.png')
          p(style='height:0.9em;margin:0')
          |                       Learn more about 12 Days of Planning
        td
        td(style='width:350px;vertical-align:middle;padding:1em;text-align:center;background-color:#fcfcfc;text-transform:uppercase;font-size:0.7em;font-weight:600;border-top-right-radius:6px;border-top-left-radius:6px')
          img(src='https://s3.amazonaws.com/wed.email/medal.png')
          p(style='height:0.9em;margin:0')
          |                       curious about our rewards program?
      tr
        td(style='border-top:solid 1px #ddd;padding:0')
        td(style='width:1.5em;padding:0')
        td(style='border-top:solid 1px #ddd;padding:0')
      tr
        td(style='text-align:center;font-size:0.9em;vertical-align:middle;padding:2em;background-color:#fcfcfc;font-weight:600;border-bottom-right-radius:6px;border-bottom-left-radius:6px')
          a(href='https://wedspire.com/promos')
            img(src='https://s3.amazonaws.com/wed.email/%D1%81hristmas/bottom_banner_new.png', style='height:8em')
        td
        td(style='vertical-align:middle;padding:1em;text-align:center;background-color:#fcfcfc;font-size:0.875em;border-bottom-right-radius:6px;border-bottom-left-radius:6px')
          a(href='https://wedspire.com/rewards_info', style='background-color:#11a49c;border-radius:4px;padding:0.7em 1.2em;text-align:center;color:white;text-decoration:none;display:inline-block;font-weight:100') Wedspire Rewards Details
          p(style='height:2em;margin:0')
          font(style='font-weight:400;color:#999;text-transform:uppercase;font-size:0.75em')  YOU SHOP, YOU EARN. YOU SHARE, YOU EARN. YOU INVITE, YOU EARN! 
tr(width='100%')
  td(bgcolor='white', style='border-top:solid 1px #e5e5e5; padding-top:2em;', align='center')
    a(href='https://www.facebook.com/Wedspire', style='margin-right: 1em; width:2.2em; height: 2.2em;text-decoration: none')
      img(src='http://i.imgur.com/Lv25twC.png')
    a(href='http://instagram.com/wedspire', style='margin-right: 1em; width:2.2em; height: 2.2em;text-decoration: none')
      img(src='http://i.imgur.com/JrHk8cK.png')
    a(href='https://twitter.com/Wedspire', style='margin-right: 1em; width:2.2em; height: 2.2em;text-decoration: none')
      img(src='http://i.imgur.com/TRY4OVk.png')
    a(href='http://www.pinterest.com/wedspirebox/', style='width:2.2em; height: 2.2em;text-decoration: none')
      img(src='http://i.imgur.com/Dv07VGg.png')
tr
  td(width='100%', valign='middle', align='center')
    table#footer(bgcolor='white', border='0', cellpadding='0', cellspacing='0', width='100%', align='center', style=' border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom: solid 2px #dee2e1; padding:1em; ')
      tbody
        tr
          td(valign='top', align='center', style='font-size: 0.6em;')
            font(style='text-transform: uppercase') follow our wedspiration movement
            p.contact-space(style='height: 0.9em;margin: 0;')
            a.link(href='{% unsubscribe_url %}', style='font-weight: 600;color: #50bcb6;text-decoration: none;')  Email Preferences 




