td#header(align='center', bgcolor='#20a199', width='100%', style='padding: 15px 0; border-top-left-radius: 5px; border-top-right-radius: 5px;')
  center
    img(style='width: 9em; height: 2em;', src='http://i.imgur.com/OwyadSl.png')