doctype html
html(lang="en")
  head
    include ../partials/head
  body(style="width: 100%;")
    table#background-table(border='0', cellpadding='0', cellspacing='0', width='100%', bgcolor='#f4f4f4', style='background-color: #f4f4f4; width: 100%; margin: 0; padding: 0;')
      tbody
        tr
          td(align='center')
            table(border='0', cellpadding='0', cellspacing='0', style=' width: 48em; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: Verdana, Geneva, sans-serif; margin-top:60px; margin-bottom:60px; border-collapse: collapse; color: #4b4b4b; font-family: sans-serif; letter-spacing: 0.04em; word-spacing: 0.15em; line-height: 1.3; background-color: #fff; ')
              tbody
                tr
                  include ../partials/header
                tr
                  td(align='center', width='100%', style='padding: 20px 0; color: #20a199; font-size: 0.9em; text-transform: uppercase')  On The #{data.ordinal[id-1]} Day of Planning, Wedspire Shared with Me... 
                tr
                  td(align='center', width='100%', style='padding: 24px 0 6px 0; font-size: 1.2em;line-height: 1.6em;')
                    | The holidays are around the corner and we are continuing to give gifts...
                tr
                  td(align='center', width='100%', style='padding: 0 0 21px 0;')
                    center
                      img(style='width: 34em; height: auto;', src='https://s3.amazonaws.com/wed.email/daily_banners/1.png')
                tr
                  td(align='center', width='100%', style='padding: 15px 0; border-top-left-radius: 5px; border-top-right-radius: 5px;')
                    | Head to 
                    a.link(href='https://wedspire.com', style='font-weight: bold; color: #50bcb6;text-decoration: none;')  Wedspire 
                    |  now to start shopping for:
                tr
                  td
                    center
                      table(border='0', cellpadding='0', cellspacing='0', style='border-top: solid 2px #dee2e1; border-radius: 5px; border: 2px solid #ddd; border-spacing: 0; box-shadow: 0 4px 2px -2px #ddd; margin-bottom: 63px;')
                        tr
                          td
                            center
                              img(style='width: 22.5em; height: auto;border-top-left-radius: 5px; border-top-right-radius: 5px;', src='https://s3.amazonaws.com/wed.email/%D1%81hristmas/catg/#{id}.png')
                        tr
                          td(style='padding: 16px 0 10px 0px; line-height: 1.3em; text-align: center; font-size: 0.8em;')
                            font(style='text-transform: uppercase; color: #959595;')
                              | On the #{data.ordinal[id-1]} day of planning wedspire
                              br
                              |  shared with me:
                        tr
                          td(style='padding: 0 0 4px 0px; border-bottom: 2px solid #ddd;')
                            center
                              img(style='width: 19em; height: auto;', src='https://s3.amazonaws.com/wed.email/%D1%81hristmas/catg_name/#{id}.png')
                        tr
                          td(style='padding: 15px 0 7px 0;text-align: center;')
                            font(style='font-size: 0.75em') Get $100 Off #{data.title[id-1]} at Checkout
                        tr
                          td(style='padding-bottom: 13px')
                            table(style='width: 100%')
                              tr
                                td(style='width: 50%; padding-left: 14px;')
                                  font(style='text-transform: uppercase; font-size: 0.6em')  Use promo code
                                  br
                                  font(style='text-transform: uppercase; font-weight: bold; font-size: 0.85em;')  #{data.codes[id-1]}
                                td(style='width: 50%; text-align: right; padding-right: 14px')
                                  font(style='text-transform: uppercase; font-size: 0.6em;') Valid Only
                                  br
                                  font(style='text-transform: uppercase; font-weight: bold; font-size: 0.85em; ') #{data.valid_only[id-1]}
                include ../partials/footer